streamlit
yfinance
pandas
plotly
numpy
google-generativeai
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos
grpcio
grpcio-status
httplib2
protobuf
pyasn1
pyasn1_modules
rsa
requests
urllib3
cachetools
setuptools
packaging
typing_extensions
tqdm
